@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 44, 133);
  background: radial-gradient(
    circle,
    rgb(247, 32, 125) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.flex-row {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
}

.active {
  background-color: white;
}

@media (max-width: 900px) {
  section {
    padding: 50px 10px 10px;
  }
}

.container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 60px;
}

@media (max-width: 380px) {
  .container {
    flex-direction: column;
    margin-top: 80px;
    height: auto;
    padding: 10px;
    width: calc(100% - 0px);
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    position: fixed;
    top: 10px;
    /* right: 20px;
    left: 20px; */
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 90;
    width: calc(100% - 180px);
  }
}

@media (max-width: 380px) {
  header {
    position: relative;
    top: -120px;
    right: 0px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0.9;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

header .logo {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 10px;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  padding: 8px 15px;
  border-radius: 1rem;
  transition: 500ms ease;
}

header ul li a:hover,
header ul li a.active {
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  z-index: 1;
  margin-top: 50px;
  align-items: center;
}

@media (max-width: 380px) {
  .content {
    flex-direction: column;
    transform: translateX(0px);
    max-width: 100%;
    margin-top: -60px;
  }
}

.column {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
}

.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 1rem 1rem;
  gap: 1rem 1rem;
  margin-top: 25px;
}

.experience-card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
}

.experience-card:hover {
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
}

.experience-text-details {
  padding: 1.5rem;
  margin-top: 2rem;
}

.experience-text-role {
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  padding-top: 1.5rem;
  line-height: normal;
}

.experience-text-date {
  text-align: center;
  color: #000;
  font-size: 20px;
  margin: 0;
  padding-top: 1rem;
  font-weight: 400;
}

.subTitle {
  color: #868e96;
}

.experience-text-desc {
  text-align: center;
}

.low-highlight-cyan {
  letter-spacing: 2px;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #fffb15 50%);
}