table {
  border-collapse: collapse;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}
.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #454d55;
}
.table-dark.table-bordered {
  border: 0;
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
}
.row {
  border-radius: 15px;
}
.table thead th {
  border: none;
  padding: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.table tbody tr {
  margin-bottom: 2px;
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
.table tbody th,
.table tbody td {
  border: none;
  padding: 30px 15px;
  font-size: 15px;
  text-align: center;
  background: #fff;
}

@media (max-width: 768px) {
  .table {
    border-spacing: 0;
    max-width: 300px;
  }
  .table tbody td {
    padding: 15px 10px;
    font-size: 15px
  }
  .table tbody th {
    padding: 0;
  }
  .table tbody tr {
    font-size: 5px;
  }
  #row {
    display: none;
  }
}
